argcomplete==1.0.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
docutils==0.12
enum34==1.1.6
Flask==0.11.1
Flask-Cors==2.1.2
Flask-HTTPAuth==3.2.1
futures==3.0.5
nltk==3.2.1
oauthlib==2.0.1
pathlib2==2.1.0
pickleshare==0.7.4
Quandl==3.0.1
requests==2.12.1
requests-oauthlib==0.7.0
textblob==0.11.1
tweepy==3.5.0
unicodecsv==0.14.1
yahoo-finance==1.4.0
mysql-connector==2.1.4